.Skills-board{
    margin-top: -25%;
    margin-left: 2px;
    margin-right: 2px;
}

.bg-color-dark{
    background-color: black;
}

.bg-color-red{
    background-color: red;
}

.bg-color-white{
    background-color: white;
}

.bg-color-darkblue{
    background-color: rgb(16, 16, 29);
}

.board-height{
    height: 130vh;
}

.board{
    height: 90vh;
}

.backend-board{
    height: 100;
}

.projects-banner{
    height: 30vh;
}

.projects-board{
    margin-top: -10%;
    margin-left: 5px;
    margin-right: 5px; 
}